*.pyc
*.chkpt
*__pycache__/*
*.swp
*.dat
.coverage
dist/
bin/
jwu
*.egg-info/
.ipynb_checkpoints/
.vscode/
.sh
docker/inference/build_docker.sh
docker/inference/pytorch-emvision/
docker/inference/pytorch-model/
