*.code-workspace

*.pyc
*.chkpt
*__pycache__*
*.swp
*.dat
*.sh
*.so
*secret.json
.coverage
dist/
bin/
jwu
*.egg-info/
.ipynb_checkpoints/
.vscode/
*.idea/
docker/inference/build_docker.sh
docker/inference/pytorch-emvision/
docker/inference/pytorch-model/
docs/build/
*generated/
build/
data/
*.so
tmp/
docs/source/tutorial/
docs/source/_build/
*.DS_Store
*.log
chunkflow/plugins/chunkflow-plugins
