language: python 
python:
- '3.5'
- '3.6'
- '3.7-dev'

install:
- sudo find /usr -name '*.pyc' -delete
# numpy have to be installed using pip, otherwise there is an error using neuroglancer
- pip install .
- python setup.py install  
- pip install pytest
- pip install coveralls
- pip install pytest-cov # to get .coverage report via pytest

script:
- coverage run -a --source=./chunkflow chunkflow create-chunk write-h5 --file-name=/tmp/img.h5 read-file --file-name=/tmp/img.h5
- coverage run -a --source=./chunkflow chunkflow create-chunk --size 36 448 448 inference --framework identity --batch-size 3 cloud-watch --log-name chunkflow-test
- coverage erase # these two tests can not be concatenated together!
- pytest --cov-report=term --cov-branch --cov-append --cov=chunkflow ./tests --verbose

after_success:
- coveralls 

matrix:
  allow_failures:
  - python: '3.7-dev'
