language: python 
python:
- '3.5'
- '3.6'
- '3.7-dev'

install:
- sudo find /usr -name '*.pyc' -delete
# numpy have to be installed using pip, otherwise there is an error using neuroglancer
- sudo apt update
# the waterz package need boost multiarray
- sudo apt install libboost-dev
- pip install .
- python setup.py install  
- pip install pytest
- pip install coveralls
- pip install pytest-cov # to get .coverage report via pytest

script:
- coverage run --source=./chunkflow chunkflow create-chunk write-h5 --file-name=/tmp/img.h5 read-h5 --file-name=/tmp/img.h5
- if test -f /tmp/img.h5 ; then echo "File found"; else exit 1; fi
- coverage run -a --source=./chunkflow chunkflow create-chunk --size 36 448 448 inference --framework identity --batch-size 3 cloud-watch --log-name chunkflow-test
- pytest --cov-append --cov=./chunkflow ./tests --verbose

after_success:
- coveralls 

matrix:
  allow_failures:
  - python: '3.7-dev'
