language: python 
python:
- '3.5'
- '3.6'
- '3.7-dev'

install:
- pip install --upgrade pip
# fix fpzip problem
# - pip install numpy==1.16
# fix neuroglancer problem
- pip install tornado==5.0
- pip install fpzip
- pip install -r requirements.txt
- pip install -e .  

before_script:
- pip install coveralls

script:
- chunkflow create-chunk write-h5 --file-name=/tmp/img.h5 read-file --file-name=/tmp/img.h5
- chunkflow create-chunk --size 36 448 448 inference --framework identity --batch-size 3 cloud-watch --log-name chunkflow-test
# use -a to append to the coverage file, otherwise it will clean previous record
- cd chunkflow
- coverage run --source=chunkflow -m unittest

after_success:
- coveralls 

matrix:
  allow_failures:
  - python: '3.7-dev'
