language: python 
python:
- '3.5'
- '3.6'
- '3.7'

install:
- pip install --upgrade pip 
- pip install numpy==1.16
- pip install fpzip
- pip install -r requirements.txt; 

script:
- python3 -m unittest 

