name: cf
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=1_llvm
  - _pytorch_select=0.1=cpu_0
  - blas=1.0=mkl
  - boost=1.74.0=py37he5a615d_2
  - boost-cpp=1.74.0=h9d3c048_1
  - bzip2=1.0.8=h7f98852_4
  - ca-certificates=2020.10.14=0
  - certifi=2020.11.8=py37h06a4308_0
  - cudatoolkit=11.1.1=h6406543_6
  - freetype=2.10.4=h7ca028e_0
  - icu=68.1=h58526e2_0
  - importlib-metadata=3.1.1=pyhd8ed1ab_0
  - importlib_metadata=3.1.1=hd8ed1ab_0
  - jpeg=9d=h36c2ea0_0
  - lcms2=2.11=hcbb858e_1
  - ld_impl_linux-64=2.35.1=hed1e6ac_0
  - libblas=3.9.0=1_h86c2bf4_netlib
  - libcblas=3.9.0=3_h92ddd45_netlib
  - libffi=3.3=h58526e2_1
  - libgcc-ng=9.3.0=h5dbcf3e_17
  - libgfortran-ng=9.3.0=he4bcb1c_17
  - libgfortran5=9.3.0=he4bcb1c_17
  - liblapack=3.9.0=3_h92ddd45_netlib
  - libpng=1.6.37=h21135ba_2
  - libstdcxx-ng=9.3.0=h2ae2ef3_17
  - libtiff=4.1.0=h4f3a223_6
  - libwebp-base=1.1.0=h36c2ea0_3
  - llvm-openmp=11.0.0=hfc4b9b4_1
  - lz4-c=1.9.2=he1b5a44_3
  - mkl=2020.4=h726a3e6_304
  - mkl-service=2.3.0=py37h8f50634_2
  - ncurses=6.2=h58526e2_4
  - ninja=1.10.2=h4bd325d_0
  - olefile=0.46=pyh9f0ad1d_1
  - openssl=1.1.1h=h7b6447c_0
  - packaging=20.4=pyh9f0ad1d_0
  - pip=20.3.1=pyhd8ed1ab_0
  - pluggy=0.13.1=py37he5f6b98_3
  - py=1.9.0=pyh9f0ad1d_0
  - pybind11=2.4.3=py37h99015e2_3
  - pycparser=2.20=pyh9f0ad1d_2
  - pyparsing=2.4.7=pyh9f0ad1d_0
  - python=3.7.8=hffdb5ce_3_cpython
  - python_abi=3.7=1_cp37m
  - pytorch=1.3.1=cpu_py37h62f834f_0
  - pytz=2020.4=pyhd8ed1ab_0
  - readline=8.0=he28a2e2_2
  - setuptools=49.6.0=py37he5f6b98_2
  - six=1.15.0=pyh9f0ad1d_0
  - sqlite=3.34.0=h74cdb3f_0
  - tk=8.6.10=hed695b0_1
  - torchvision=0.4.2=cpu_py37h9ec355b_0
  - wheel=0.36.0=pyhd3deb0d_0
  - xtensor=0.21.10=h4bd325d_0
  - xtensor-blas=0.17.2=h998ca80_1
  - xtensor-python=0.24.1=py37he5a615d_2
  - xtl=0.6.21=h0efe328_1
  - xz=5.2.5=h516909a_1
  - zipp=3.4.0=py_0
  - zlib=1.2.11=h516909a_1010
  - zstd=1.4.5=h6597ccf_2
  - pip:
    - alembic==1.4.2
    - apache-airflow==1.10.12
    - apispec==1.3.3
    - argcomplete==1.12.0
    - attrs==19.3.0
    - babel==2.8.0
    - boto3==1.14.38
    - botocore==1.17.38
    - brotli==1.0.7
    - brotlipy==0.7.0
    - cached-property==1.5.1
    - cachetools==4.1.1
    - cattrs==1.0.0
    - cffi==1.14.1
    - cloud-files==0.9.2
    - cloud-volume==1.21.1
    - colorama==0.4.3
    - colorlog==4.0.2
    - compressed-segmentation==1.0.0
    - configparser==3.5.3
    - connected-components-3d==1.8.0
    - croniter==0.3.34
    - cryptography==3.0
    - cycler==0.10.0
    - cython==0.29.21
    - defusedxml==0.6.0
    - dijkstra3d==1.5.0
    - dill==0.3.2
    - dnspython==2.0.0
    - docutils==0.15.2
    - dracopy==0.0.15
    - edt==2.0.1
    - email-validator==1.1.1
    - fasteners==0.15
    - fastremap==1.10.2
    - fill-voids==2.0.0
    - flask-admin==1.5.4
    - flask-appbuilder==2.3.4
    - flask-babel==1.0.0
    - flask-caching==1.3.3
    - flask-jwt-extended==3.24.1
    - flask-login==0.4.1
    - flask-openid==1.2.5
    - flask-sqlalchemy==2.4.4
    - flask-swagger==0.2.14
    - flask-wtf==0.14.3
    - fpzip==1.1.4
    - funcsigs==1.0.2
    - future==0.18.2
    - google-api-core==1.22.0
    - google-apitools==0.5.31
    - google-auth==1.20.1
    - google-cloud-core==1.4.1
    - google-cloud-storage==1.30.0
    - google-crc32c==0.1.0
    - google-resumable-media==0.7.1
    - googleapis-common-protos==1.52.0
    - gunicorn==20.0.4
    - httplib2==0.18.1
    - imageio==2.9.0
    - inflection==0.5.0
    - iniconfig==1.0.1
    - iso8601==0.1.12
    - jmespath==0.10.0
    - json-merge-patch==0.2
    - json5==0.9.5
    - kimimaro==1.7.0
    - kiwisolver==1.2.0
    - lazy-object-proxy==1.5.1
    - lockfile==0.12.2
    - mako==1.1.3
    - markdown==2.6.11
    - marshmallow==2.21.0
    - marshmallow-enum==1.5.1
    - marshmallow-sqlalchemy==0.23.1
    - matplotlib==3.3.0
    - memory-profiler==0.58.0
    - monotonic==1.5
    - more-itertools==8.4.0
    - multiprocess==0.70.10
    - natsort==7.0.1
    - networkx==2.4
    - neuroglancer==2.9
    - nose==1.3.7
    - numpy==1.19.1
    - oauth2client==4.1.3
    - pandas==1.1.1
    - pathos==0.2.6
    - pendulum==1.4.4
    - posix-ipc==1.0.4
    - pox==0.2.8
    - ppft==1.6.6.2
    - prison==0.1.3
    - protobuf==3.12.4
    - psutil==5.4.3
    - pyasn1==0.4.8
    - pyasn1-modules==0.2.8
    - pygments==2.6.1
    - pyjwt==1.7.1
    - pytest==6.1.2
    - python-daemon==2.2.4
    - python-dateutil==2.8.0
    - python-editor==1.0.4
    - python-graphviz==0.14.1
    - python-jsonschema-objects==0.3.12
    - python-nvd3==0.15.0
    - python-slugify==4.0.1
    - python3-openid==3.2.0
    - pytzdata==2020.1
    - pywavelets==1.1.1
    - pyyaml==5.3.1
    - rsa==4.6
    - s3transfer==0.3.3
    - scikit-image==0.17.2
    - scipy==1.5.2
    - setproctitle==1.1.10
    - sockjs-tornado==1.0.7
    - sqlalchemy==1.3.19
    - sqlalchemy-jsonfield==0.9.0
    - sqlalchemy-utils==0.36.8
    - tenacity==4.12.0
    - text-unidecode==1.3
    - thrift==0.13.0
    - tifffile==2020.7.24
    - tinybrain==1.0.0
    - toml==0.10.1
    - tornado==6.0.4
    - typing-extensions==3.7.4.3
    - tzlocal==1.5.1
    - unicodecsv==0.14.1
    - waterz==0.9.4
    - werkzeug==0.16.1
    - wtforms==2.3.3
    - zmesh==0.4.0
    - zope-deprecation==4.4.0
    - zstandard==0.14.0
prefix: /mnt/home/jwu/anaconda3/envs/cf
