python-dateutil==2.8.0
boto3
numpy>=1.16
six>=1.12.0
cloud-volume>=0.47.0
click 
tqdm>=4.36.1
connected-components-3d
scikit-image>=0.14.2
h5py
neuroglancer
tinybrain
tifffile
pandas
zmesh
fastremap
matplotlib
waterz
